/* Main CSS Styling will come here 
https://coolors.co/ea526f-070600-f7f7ff-23b5d3-279af1
*/
body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    background: #f7f7ff;
    margin: 0.5em;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
}

header {
    color: #070600;
    font-weight: bold;
}

button {
    background: #f7f7ff;
    border: 2px solid #070600;
    padding: .5em 1em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    margin: 2em 0;
    color: #070600;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

button:hover {
    background: #070600;
    color: #f7f7ff;
    cursor: pointer;
}

button:focus{
    outline: none;
}

.hide {
    display: none;
    visibility: hidden;
}

.loading-text,
.initial-text {
    color: rgba(0,0,0,0.3)
}

.error {
    color: #EA526F
}

.info {
    color: #23b5d3
}


#title-input{
    border: 2px solid #23b5d3;
    padding: .5em 1em;
}

#title-input:focus{
    outline: none;
}

.results-section{
    position: relative;
    width: 100%;
    height: 100%;
}

.results-list{
    position: absolute;
    overflow-y: scroll;
    width: 100%;
}
